#home{
    text-align: center;
    background: linear-gradient(#a0167f 0%, #57e3ff 100%);
    background-repeat: no-repeat;
}
img{
    border-radius:50%;
    width:250px;
  transition:transform .2s  
}
img:hover{
    transform:scale(0.9)
}
h1{
    text-shadow: 2px 2px #F8BBD0;
    font-size:20px;
}
#bio{
    padding:20px;
    font-size:18;
    text-align:center;
}
.menu{
    list-style: none;
    font-family: cursive;
    float: right;
    top:10px;
    right:30px;
    cursor: pointer;
    color:black;
    position:fixed;
}
#about{
    background-color: lightpink;
}
.line{
    height:6px;
    background-color:black;
    width: 70px;
    margin: 8px auto;
}
p{
    text-align:center;
}
.links{
    float:left;
    font-family: cursive;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    
}
#hobby{
    background-color: turquoise;
    text-align:center;
}
#works{
    background-color: lightgreen;
    text-align: center;
}
html{
 scroll-behavior: smooth;   
}
#inspiration{
    background-color:aqua;
    text-align: center;
}